body {
  background-color: #ccc;
}
header {
  float: left;
  width: 25%;
}
nav {
  float: right;
  margin: 5em 3em 0 0;
  width: 70%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  font-size: 1.75em;
}
nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}
main,
weights {
  clear: both;
}
main {
  clear: left;
  background-color: #fff;
  padding: 2%;
  font-size: 1.25em;
}
h1 {
  text-align: center;
}
#container {
  width: 80%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}
#hero {
  clear: both;
  position: relative;
}
#hero h2 {
  position: absolute;
  color: white;
  margin-left: 30px;
}
ul .arrowbullets {
  list-style-image: url(/images/arrow.png);
}
footer p {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  padding: 0 1em;
}
footer p a {
  color: white;
  text-decoration: none;
}
#weights,
#cardio,
#training {
  width: 29%;
  float: left;
  margin: 0 2%;
}
#exercises {
  clear: left;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #f2f2f2;
  padding: 1% 2%;
}
#exercises dl {
  font-weight: bold;
}
#exercises dd {
  padding: 0.5% 1% 2% 0;
}
#contact a {
  color: #666600;
  text-decoration: none;
}
.action {
  font-size: 1.35em;
  color: #666600;
  font-weight: bold;
}
.external-link {
  color: #666600;
  text-decoration: none;
  font-weight: bold;
}
.map {
  border: 8px solid #000;
}
body,
header,
nav,
main,
footer,
h1,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
